#chat_window, #chat_form {
    width: 400px;
}

#chat_window, #chat_input {
    background: lightyellow;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
}

#chat_window {
    min-height: 50px;
    list-style-type: none;
}

#chat_input {
    display: block;
    width: 100%;
}

#chat_submit {
    border-radius: 10px;
    margin-top: 10px;
    float: right;
}

body {
    margin-left: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}