#chat_window, #chat_form {
    width: 400px;
}

#chat_window, #chat_input {
    border: 1px solid black;
}

#chat_window {
    padding: 1px;
    min-height: 50px;
    list-style-type: none;
}

#chat_input {
    display: block;
    width: 100%;
}

#chat_submit {
    margin-top: 10px;
    float: right;
}

body {
    margin-left: 10px;
}