#chat_window, #chat_form {
    width: 350px;
    max-width: 95%;
}

#chat_window, #chat_input {
    background: lightyellow;
    padding: 3px;
    border: 3px solid black;
    border-radius: 10px;
}

#chat_window {
    min-height: 50px;
    list-style-type: none;
}

#chat_input {
    display: block;
    width: 100%;
}

#chat_submit {
    border-radius: 10px;
    margin-top: 10px;
    float: right;
}

body {
    margin-left: 10px;
    background: lightblue;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}